body{
    margin: 0%;
    background-image: url('./images/concert.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

/* NavBar CSS */
.navBarContainer{
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    background-color: #312d2da1;
}

.navBar{
    display: flex;
    height: 150px;
    
    justify-content: space-between;
}

.lowernavBar{
    height: 50px;
    border: solid black 2px;
}

.logo{
    width: 40%;
    text-align: center;
    color: aliceblue;
    font-family: "Tangerine", cursive;
}

.logo h1{
    font-size: 45px;
    margin-top: 50px;
}

.dropDownContent {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDown{
    display: none;
}
.options{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.button{
    background-color: white;
    color: black;
    padding: 15px;
    border: solid black;
    margin-right: 25px;
}


 svg{
    fill: aliceblue;
}


h2, p, label {
    color: aliceblue;
    margin-left: 5px;
}
.registrationContainer{
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}



.logInContainer{
    width: 350px;
    height: 400px;
    border: solid black;
}

.logInHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginBody{
    padding: 10px;
}
.info{
    display: flex;
}

.info input{
    height: 20px;
    align-self: center;
    margin-left: 5px;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.signUpContainer{
    width: 350px;
    height: 400px;
    border: solid black;
}

@media (max-width: 500px){
    body{
        background-position: center;
    }

    /* NavBar */
    .logo{
        width: 60%;
    }
    .options{
        display: none;
    }

    .cart{
        display: none;
    }

    .optionssm{
        width: 40%;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .dropDown{
        display: inline-block;
        position: relative;
    }

    .dropDown:hover .dropDownContent {
        display: block
    }

    .dropDownContent a {
        display: block;
        color: black;
        padding: 5px;
        text-decoration: none;
    }

    .dropDownContent{
        background-color: aliceblue;
        width: 80px;
    }
    .optionssm button{
        border: none;
        background-color: #312d2da1;
    }


    .signUpContainer{
        margin-top: 1em;
    }
}