/* General CSS - Index.html */
body{
    margin: 0%;
    padding: 0%;
    background-color: #312d2d;
}

@keyframes scroll {
    0%{
        transform: translateX(-20%);
    }

    50%{
        transform: translateX(30%);
    }

    100%{
        transform: translate(-20%);
    }
}

@keyframes scrollsm{
    0%{
        transform: translateX(0%);
    }

    50%{
        transform: translateX(10%);
    }

    100%{
        transform: translate(0%);
    }
}
/* NavBar CSS */
.navBarContainer{
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    background-color: #312d2da1;
}
.lowernavBarcontainer{
    margin: 0%;
}
.navBar{
    display: flex;
    height: 150px;
    
    justify-content: space-between;
}

.lowernavBar{
    height: 50px;
    border: solid black 2px;
}

.logo{
    width: 40%;
    text-align: center;
    color: aliceblue;
    font-family: "Tangerine", cursive;
}

.logo h1{
    font-size: 45px;
    margin-top: 50px;
}

.dropDownContent {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropDown{
    display: none;
}
.options{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.button{
    background-color: white;
    color: black;
    padding: 15px;
    border: solid black;
    margin-right: 25px;
}

.shoppingCart{
    border: none;
    background-color: #312d2da1;
}

 svg{
    fill: aliceblue;
}

.lowernavBarcontainer{
    display: flex;
    justify-content: center;
}

.lowernavBarText{
    display: flex;
    flex-wrap:nowrap;
}

.lowernavBar a{
    margin: 15px;
    color: aliceblue;
    font-size: 25px;
    text-decoration: none;
}

/* Advertisement CSS */
.advertisement{
    margin-top: 220px;
    display: flex;
    width: 100%;
    height: 25vh;
    justify-content: center;
    background-image: url('./images/soundwaves.jpeg');
    background-repeat: repeat;
    background-size: contain;
    align-items: center;
}

.advertisementContent p{
    animation: scroll 10s infinite ease-in-out;
    color: yellow;
    font-size: 30px;
}

.advertisementContent button{
    margin-left: 25%;
    padding: 5px;
    background-color: black;
    
    border-radius: 25px;
}

.advertisementContent a{
    color: aliceblue;
    font-size: 25px;
}

/* Section CSS */
.selectionContainer{
    overflow-x: scroll;
    overflow-y: hidden;
}

.selectionHeading h2{
    color: aliceblue;
    text-align: center;
    font-size: 55px;
    font-family: "Tangerine", cursive;
    margin-bottom: 10px;
    margin-top: 20px;
}
.itemContainer{
    display: flex;
    width: 100%;
    margin-left: 2%;
    margin-right: 4%;
}

.item{
    height: 300px;
    width: 300px;
    border: solid black;
    margin-right: 25px;
    margin-bottom: 15px;
}

.itemImg{
    width: 300px;
    height: 200px;
   
}

.itemImg img{
    height: 200px;
    width: 300px;
}

.itemTxt{
    width: 300px;
    height: 40%;
    color: aliceblue;
}

/* CSS For small screens */
@media (max-width: 500px){
    
    /* Nav Bar CSS */

    .logo{
        width: 60%;
    }
    .options{
        display: none;
    }

    .cart{
        display: none;
    }

    .optionssm{
        width: 40%;
        display: flex;
        justify-content: center;
        align-self: center;
    }

    .dropDown{
        display: inline-block;
        position: relative;
    }

    .dropDown:hover .dropDownContent {
        display: block;
    }

    .dropDownContent a {
        display: block;
        color: black;
        padding: 5px;
        text-decoration: none;
    }

    .dropDownContent{
        background-color: aliceblue;
        width: 80px;
    }
    .optionssm button{
        border: none;
        background-color: #312d2da1;
    }

    .shoppingCartsm svg{
        fill: black;
    }

    .lowernavBarText{
        overflow-x: scroll;
        display: flex;
        flex-wrap:nowrap;
    }

    /* Advertisement CSS */
    .advertisement{
        margin-top: 220px;
        display: flex;
        width: 100%;
        height: 25vh;
        justify-content: center;
        background-image: url('https://cdn.pixabay.com/animation/2023/10/24/13/50/13-50-26-112_512.gif');
        background-repeat: repeat;
        background-size: contain;
        align-items: center;
    }
    .advertisementContent p{
        animation: scrollsm 10s infinite ease-in-out;
        color: yellow;
        font-size: 25px;
    }
    
    .advertisementContent button{
        margin-left: 35%;
        padding: 5px;
        background-color: black;
        border-radius: 25px;
    }
    
    .advertisementContent a{
        color: aliceblue;
        font-size: 15px;
    }
    

    /* Section CSS */

    
    .item{
        height: 300px;
        width: 200px;
        border: solid black;
        margin-right: 25px;
    }
    
    .itemImg{
        width: 200px;
        height: 150px;
    }
    
    .itemImg img{
        height: 150px;
        width: 200px;
    }

    .itemTxt{
        width: 200px;
        height: 40%;
    }

    
}