/* General CSS - Index.html */
body{
    margin: 0%;
    padding: 0%;
    background-color: #312d2d;
}

/* NavBar CSS */
.lowernavBarcontainer{
    margin: 0%;
}
.navBar{
    display: flex;
    height: 150px;
    border: solid black 3px; 
    justify-content: space-between;
}

.lowernavBar{
    height: 50px;
    border: solid yellow 15px;
}

.logo{
    width: 40%;
    border: solid red;
    text-align: center;
    color: aliceblue;
    font-family: "Tangerine", cursive;
}

.logo h1{
    font-size: 45px;
    margin-top: 50px;
}
.options{
    width: 20%;
    border: solid blue;
}

.cart{
    width: 20%;
    border: solid yellowgreen 13px
}

.lowernavBarcontainer{
    display: flex;
    justify-content: center;
}

.lowernavBarText{
    display: flex;
    flex-wrap:nowrap;
}

.lowernavBar p{
    margin: 15px;
}

/* Advertisement CSS */
.advertisement{
    display: flex;
    width: 100%;
    height: 25vh;
    border: solid red ;
    justify-content: center;
    align-items: center;
}

/* Section CSS */
.selectionContainer{
    border: solid salmon;
    overflow-x: scroll;
}

.itemContainer{
    display: flex;
    width: 100%;
}

.item{
    height: 300px;
    width: 300px;
    border: solid black;
    margin-right: 25px;
}

.itemImg{
    width: 300px;
    height: 60%;
    border: solid blue 1px;
}

.itemTxt{
    width: 300px;
    height: 40%;
    border: solid limegreen 1px;
}

/* CSS For small screens */
@media (max-width: 500px){
    
    /* Nav Bar CSS */

    .logo{
        width: 60%;
    }
    .options{
        display: none;
    }

    .cart{
        display: none;
    }

    .optionssm{
        width: 40%;
        border: solid purple 5px;
    }

    .lowernavBarText{
        overflow-x: scroll;
        display: flex;
        flex-wrap:nowrap;
    }

    /* Section CSS */

    
    .item{
        height: 200px;
        width: 200px;
        border: solid black;
        margin-right: 25px;
    }
    
    .itemImg{
        width: 200px;
        height: 60%;
        border: solid blue 1px;
    }
    
    .itemTxt{
        width: 200px;
        height: 40%;
        border: solid limegreen 1px;
    }
    
}